.scroll-to-top {
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 1000;
}

.scroll-button {
    background-color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    transition: opacity 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    border-radius: 20%;
}

.scroll-button:hover {
    background-color: #218838;
}

.scroll-button:focus {
    outline: none;
}

.scroll-button:active {
    background-color: #1e7e34;
}
